.head {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    margin: 30px;
    border-style: groove;
    border-radius: 30px;
    padding: 5px;
    border-color: rgb(117, 23, 94);
    margin-right: 86px;
    margin-left: 80px;
    
}

.back, .mac-body, .chicken-body, .orange-body {
    /* background-color: rgb(17 24 39); */
    background-color: rgb(156, 134, 218);
    size: 100px;
    text-align: center;
}

#mac-and-cheese, #chicken, #orange-chicken {
    font-size: 20px;
    text-align: left;
}

.chicken-alfredo, .orange-chicken, .mac-and-cheese, .mac-body, .chicken-body, .orange-body{
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.head, .back , .chicken-alfredo {
    font-family:  fantasy, cursive, sans-serif;
}

.title {
    color: #469aa0;

}
.index-unordered-list {
    list-style-type: none;
    /* margin: 30px;
    padding: 40px; */
}

li:not(:last-child) {
    margin-bottom: 25px;
}

.chicken-alfredo, .orange-chicken, .mac-and-cheese {
    border-color: rgb(117, 23, 94);
    border-style: groove;
    padding: 20px;
    display: flex;
    margin: auto;
    width: 450px;
    margin: 20px auto auto 20px;
    border-radius: 50px;
    border: -5px;
    text-align: center;
    display: block;
    text-align: center;
    margin-left: 40px;
    
}

#chicken-head {
    text-align: center;
    border-color: whitesmoke;
    border-style: inset;
    
}

ul {
    display: flex;
    
}









/* old backgournd color  */
